html {
    font-size: 100%;
    color: white;
    scroll-behavior: smooth;
}

*,*::before, *::after {
    box-sizing: border-box;
}

/*      FONTS/TEXT        */

@font-face {
    font-family: 'andersregular';
    src: url('../fonts/anders-webfont.woff2') format('woff2'),
         url('../fonts/anders-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/*    TEXT       */

h1 {
    font-size: 2rem;
    margin: 0 auto;
    width: 80%;
    text-align: center;
    line-height: 1.75rem;
    font-family:'andersregular';
}

h2 {
    font-size: 1.72rem;
    margin: 0 auto;
    text-align: center;
    line-height: 1.75rem;
    font-family:'andersregular';
}

p {
    font-size: 1rem;
    width: 100%;
    justify-content: center;
}

.error {
    font-family: futura-pt, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: black;
    margin: .2rem auto;
    grid-area: error;
    font-size: 1.5rem;
    position: relative;
    left: 17rem;
}

.error-active {
    color: red;
    font-family: futura-pt, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 5rem;
    margin: .5rem auto;
    width: 50%;
}

/*             CONTENT            */

  /*     HEADER        */
header {
    display: block;
    text-align: center;
    position: relative;
    z-index: 50;
    margin: 1rem auto;
    grid-area: header;
}

header h1 {
    /* font-family: ADD IN LATER; */
    font-size: 3rem;
    margin: 2rem auto;
    font-family:'andersregular';
    width: 100%;
}

 header h2{
    font-size: 1rem;
    margin: 0 auto;
    width: 80%;
    text-align: center;
    line-height: 1.75rem;
    font-family:'andersregular';
}


/*          BODY          */

#body_grid {
    display: grid;
    grid-template-rows: 10rem 14rem 24.75rem 4rem auto 3rem;
    grid-template-columns: 1fr 40vw 40vw 1fr;
    grid-template-areas: 
    'header header header header'
    '. form form .'
    'carousel carousel carousel carousel'
    '. prev next .'
    '. info info .'
    'footer footer footer footer';
}

/*  FORM  */
.data_entry {
    position: relative;
    height: 13vh;
    grid-area: form;
    align-content: center;
}

#formsub {
    display: grid;
    justify-content: center;
    grid-area: monthLabel;
    grid-template-rows: 2rem 2rem auto 4rem;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 'monthLabel dayLabel' 'monthForm dayForm' 'error error' 'submit submit';
}

form {
    /* width: 70%; */
    margin: 1rem;
    padding: 1rem;
    align-items: center;
    grid-area: 'form2';
}

.label_month, .label_day {
    font-family: futura-pt, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.3rem;
}

.label_day {
    grid-area: dayLabel;
    justify-self: center;
}

.label_month {
    justify-self: center;
}

#birthday {
    grid-area: dayForm;
    justify-self: center;
    width: 80%;
}

#month {
    grid-area: monthForm;
    justify-self: center;
    width: 80%;
   }   

#selected_info {
    grid-area: info;
    display: grid;
    grid-template-rows: 1fr 1fr auto 1fr;
}

#zodiac_name {
    position: relative;
    bottom: 7rem;
}

#zodiac_date {    
    font-family: futura-pt, sans-serif;
    font-weight: 600;
    font-style: normal;
}

#vague_fru_text {
    font-family: futura-pt, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.3rem; 
}

/*     FOOTER     */

footer {
    height: 3rem;
    width: 100%;
    bottom: 0;
    grid-area: footer;
}

footer p {
    padding: .75rem auto;
    font-size: 1rem;
    color: white;
}

/*  BUTTONS    */

#submit {
    background-color: transparent;
    border: 3px solid white;
    height: 3rem;
    width: 75%;
    justify-self: center;
    border-radius: 10rem;
    padding: .2rem .5rem;
    text-align: center;
    font-family: 'andersregular';
    color: white;
    font-size: 2rem;
    grid-area: submit;
    /* border-image-source: linear-gradient(#fff8dd, #ffffff);
    border-image-slice: 20; */
}

.previous-button, .next-button {
    background-color: transparent;
    border: 0;
    border-radius: 5rem;
    font-size: 1.3rem;
    height: 3.75rem;
    padding: .75rem .75rem;
    text-align: center;
    width: 10rem;
    z-index: 30;
    justify-self: center;
    border: 3px solid white;
    font-family: 'andersregular';
    color: white;
}

.previous-button:hover, .next-button:hover, #submit:hover {
    border: 1px solid;
    outline-color: rgba(255, 255, 255, 0);
    outline-offset: 15px;
    background: rgb(106,0,255);
    background: linear-gradient(0deg, rgba(106,0,255,1) 0%, rgba(202,0,255,1) 66%);
}

  .previous-button {
grid-area: prev;
}

  .next-button {
    grid-area: next;
}

/*      BG      */

@keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-625rem 312.5rem;}
}
@-webkit-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-625rem 312.5rem;}
}
@-moz-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-625rem 312.5rem;}
}
@-ms-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-625rem 312.5rem;}
}

@keyframes move-clouds-back {
    from {background-position:0 0;}
    to {background-position:625rem 0;}
}
@-webkit-keyframes move-clouds-back {
    from {background-position:0 0;}
    to {background-position:625rem 0;}
}
@-moz-keyframes move-clouds-back {
    from {background-position:0 0;}
    to {background-position:625rem 0;}
}
@-ms-keyframes move-clouds-back {
    from {background-position: 0;}
    to {background-position:625rem 0;}
}

.stars, .twinkling, .clouds {
    position: fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    width:100%;
    height:100%;
    display:block;
  }
  
  .stars {
    background:#000 url(http://www.script-tutorials.com/demos/360/images/stars.png) repeat top center;
    z-index:-30;
  }
  
  .twinkling{
    background:transparent url(http://www.script-tutorials.com/demos/360/images/twinkling.png) repeat top center;
    z-index:-20;
  
    -moz-animation:move-twink-back 200s linear infinite;
    -ms-animation:move-twink-back 200s linear infinite;
    -o-animation:move-twink-back 200s linear infinite;
    -webkit-animation:move-twink-back 200s linear infinite;
    animation:move-twink-back 200s linear infinite;
  }
  
  .clouds{
      background:transparent url(http://www.script-tutorials.com/demos/360/images/clouds3.png) repeat top center;
      z-index:-10;
      filter: hue-rotate(210deg);
    -moz-animation:move-clouds-back 200s linear infinite;
    -ms-animation:move-clouds-back 200s linear infinite;
    -o-animation:move-clouds-back 200s linear infinite;
    -webkit-animation:move-clouds-back 200s linear infinite;
    animation:move-clouds-back 200s linear infinite;
  }

/*     CAROSEL       */
.scene {
    /* border: 1px solid white; */
    position: relative;
    width: 18.75rem;
    height: 18.75rem;
    margin: 2.25rem auto 2rem;
    perspective: 62.5rem;
    z-index: 30;
    grid-area: carousel;
  }
  
  .carousel {
    width: 100%;
    height: 100%;
    position: absolute;
    transform: translateZ(-288px);
    transform-style: preserve-3d;
    transition: transform 1s;
    z-index: 30;
  }
  
  .carousel__cell {
    background-image: radial-gradient(ellipse at center, rgba(0,0,0,.8) 0%, 
      rgba(0,0,0,.8) 30%, rgba(255,255,255,0) 70%);
    position: absolute;
    width: 12.5rem;
    height: 12.5rem;
    left: 3rem;
    top: 3rem;
    z-index: 30;
  }
  
  .carousel__cell:nth-child(1) { transform: rotateY(0deg) translateZ(560px); }
  .carousel__cell:nth-child(2) { transform: rotateY(30deg) translateZ(560px); }
  .carousel__cell:nth-child(3) { transform: rotateY(60deg) translateZ(560px); }
  .carousel__cell:nth-child(4) { transform: rotateY(90deg) translateZ(560px); }
  .carousel__cell:nth-child(5) { transform: rotateY(120deg) translateZ(560px); }
  .carousel__cell:nth-child(6) { transform: rotateY(150deg) translateZ(560px); }
  .carousel__cell:nth-child(7) { transform: rotateY(180deg) translateZ(560px); }
  .carousel__cell:nth-child(8) { transform: rotateY(210deg) translateZ(560px); }
  .carousel__cell:nth-child(9) { transform: rotateY(240deg) translateZ(560px); }
  .carousel__cell:nth-child(10) { transform: rotateY(270deg) translateZ(560px); }
  .carousel__cell:nth-child(11) { transform: rotateY(300deg) translateZ(560px); }
  .carousel__cell:nth-child(12) { transform: rotateY(330deg) translateZ(560px); }