html {
    font-size: 100%;
}

/*      FONTS         */

@font-face {
    font-family: 'andersregular';
    src: url('../fonts/anders-webfont.woff2') format('woff2'),
         url('../fonts/anders-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

h1 {
    font-family: 'andersregular';
    font-size: 3rem;
    text-shadow: 0 0 .3125rem white;
}

/*     content       */

.header_text, .form {
    color: #ffffff;
    text-align: center;
    z-index: 50;
}

.form {
    margin-top: 3rem;
}

/*     CAROSEL       */
.scene {
    border: 1px solid white;
    position: relative;
    width: 300px;
    height: 300px;
    margin: 100px auto;
    perspective: 1000px;
    z-index: 30;
  }
  
  .carousel {
    width: 100%;
    height: 100%;
    position: absolute;
    transform: translateZ(-288px);
    transform-style: preserve-3d;
    transition: transform 1s;
    z-index: 30;
  }
  
  .carousel__cell {
    background-image: radial-gradient(ellipse at center, rgba(0,0,0,.8) 0%, 
      rgba(0,0,0,.8) 30%, rgba(255,255,255,0) 70%);
    position: absolute;
    width: 200px;
    height: 200px;
    left: 48px;
    top: 48px;
    /*border: 2px solid black;*/
    line-height: 116px;
    font-size: 2rem;
    font-weight: bold;
    color: white;
    text-align: center;
    z-index: 30;
  }
  
 /* background-image: radial-gradient(circle hsla( 0, 0%, 0%, 0.1) 50%, hsla(  0, 0%, 0%, 0.0));*/
  /* .carousel__cell:nth-child(12n+1) { 
      background-image: radial-gradient(ellipse at center, rgba(0,0,0,.8) 0%, rgba(0,0,0,.8) 35%, rgba(255,255,255,0) 85%);
 }
  .carousel__cell:nth-child(12n+2) { background: hsla(  0, 0%, 0%, 0.1); }
  .carousel__cell:nth-child(12n+3) { background: hsla(  0, 0%, 0%, 0.1); }
  .carousel__cell:nth-child(12n+4) { background: hsla(  0, 0%, 0%, 0.1); }
  .carousel__cell:nth-child(12n+5) { background: hsla(  0, 0%, 0%, 0.1); }
  .carousel__cell:nth-child(12n+6) { background: hsla(  0, 0%, 0%, 0.1); }
  .carousel__cell:nth-child(12n+7) { background: hsla(  0, 0%, 0%, 0.1); }
  .carousel__cell:nth-child(12n+8) { background: hsla(  0, 0%, 0%, 0.1); }
  .carousel__cell:nth-child(12n+9) { background: hsla(  0, 0%, 0%, 0.1); }
  .carousel__cell:nth-child(12n+10) { background: hsla(  0, 0%, 0%, 0.1); }
  .carousel__cell:nth-child(12n+11) { background: hsla(  0, 0%, 0%, 0.1); }
  .carousel__cell:nth-child(12n+0) { background: hsla(  0, 0%, 0%, 0.1); } */
  
  .carousel__cell:nth-child(1) { transform: rotateY(0deg) translateZ(560px); }
  .carousel__cell:nth-child(2) { transform: rotateY(30deg) translateZ(560px); }
  .carousel__cell:nth-child(3) { transform: rotateY(60deg) translateZ(560px); }
  .carousel__cell:nth-child(4) { transform: rotateY(90deg) translateZ(560px); }
  .carousel__cell:nth-child(5) { transform: rotateY(120deg) translateZ(560px); }
  .carousel__cell:nth-child(6) { transform: rotateY(150deg) translateZ(560px); }
  .carousel__cell:nth-child(7) { transform: rotateY(180deg) translateZ(560px); }
  .carousel__cell:nth-child(8) { transform: rotateY(210deg) translateZ(560px); }
  .carousel__cell:nth-child(9) { transform: rotateY(240deg) translateZ(560px); }
  .carousel__cell:nth-child(10) { transform: rotateY(270deg) translateZ(560px); }
  .carousel__cell:nth-child(11) { transform: rotateY(300deg) translateZ(560px); }
  .carousel__cell:nth-child(12) { transform: rotateY(330deg) translateZ(560px); }

  #buttons {
      text-align: center;
  }

  .previous-button, .next-button {
      background-color: blue;
      border: 0;
      border-radius: .5rem;
      color: white;
      font-size: 1rem;
      height: 3rem;
      padding: .75rem .75rem;
      text-align: center;
      width: 5rem;
      z-index: 30;
  }

  /*      BG      */
  * {
    margin: 0;
    padding: 0;
}
header {
    background-color:rgba(33, 33, 33, 0.9);
    color:#ffffff;
    display:block;
    font: 14px/1.3 Arial,sans-serif;
    height:50px;
    position:relative;
    z-index:5;
}
h2{
    margin-top: 30px;
    text-align: center;
}
header h2{
    font-size: 22px;
    margin: 0 auto;
    padding: 10px 0;
    width: 80%;
    text-align: center;
}
header a, a:visited {
    text-decoration:none;
    color:#fcfcfc;
}

@keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-webkit-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-moz-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-ms-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}

@keyframes move-clouds-back {
    from {background-position:0 0;}
    to {background-position:10000px 0;}
}
@-webkit-keyframes move-clouds-back {
    from {background-position:0 0;}
    to {background-position:10000px 0;}
}
@-moz-keyframes move-clouds-back {
    from {background-position:0 0;}
    to {background-position:10000px 0;}
}
@-ms-keyframes move-clouds-back {
    from {background-position: 0;}
    to {background-position:10000px 0;}
}

.stars, .twinkling, .clouds {
  position: fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  width:100%;
  height:100%;
  display:block;
}

.stars {
  background:#000 url(http://www.script-tutorials.com/demos/360/images/stars.png) repeat top center;
  z-index:-30;
}

.twinkling{
  background:transparent url(http://www.script-tutorials.com/demos/360/images/twinkling.png) repeat top center;
  z-index:-20;

  -moz-animation:move-twink-back 200s linear infinite;
  -ms-animation:move-twink-back 200s linear infinite;
  -o-animation:move-twink-back 200s linear infinite;
  -webkit-animation:move-twink-back 200s linear infinite;
  animation:move-twink-back 200s linear infinite;
}

.clouds{
    background:transparent url(http://www.script-tutorials.com/demos/360/images/clouds3.png) repeat top center;
    z-index:-10;
    filter: hue-rotate(210deg);
  -moz-animation:move-clouds-back 200s linear infinite;
  -ms-animation:move-clouds-back 200s linear infinite;
  -o-animation:move-clouds-back 200s linear infinite;
  -webkit-animation:move-clouds-back 200s linear infinite;
  animation:move-clouds-back 200s linear infinite;
}